# 3 levels down to wildcard undesired Terraform patterns in 'linux-ami'. Can override more specific local dirs
.terraform/
terraform.tfstate
terraform.tfstate.*backup
terraform.tfvars

# Workspace
.vscode

# Generated RSA keys within code
*.pem